<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleGetInfoString</key>
	<string>TinyLMS (c) Werner Randelshofer</string>
	<key>CFBundleIconFile</key>
	<string>TinyLMS.icns</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TinyLMS</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.4.3</string>
	<key>Java</key>
	<dict>
		<key>VMOptions</key>
		<string>-Xmx900m</string>
		<key>ClassPath</key>
		<string>$JAVAROOT/tinylms.jar</string>
		<key>JVMVersion</key>
		<string>1.6+</string>
		<key>MainClass</key>
		<string>ch.randelshofer.scorm.TinyLMSApp</string>
		<key>Properties</key>
		<dict>
			<key>apple.laf.useScreenMenuBar</key>
			<string>true</string>
		</dict>
	</dict>
</dict>
</plist>
